<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>COSMOS</title>
    <link rel="stylesheet" href="{% static 'cosmosapp/css/bootstap.css'%}"> 
</head>    
<body>   
    <div class="container mt-5">
        <h2 class="text-center alert alert-danger">Cosmos Planet View Form</h2>
        {% block content %} {% endblock content%}
    </div>
        <script src="{% static 'cosmosapp/js/jquery.js' %}"></script>
        <script src="{% static 'cosmosapp/js/popper.js' %}"></script>
        <script src="{% static 'cosmosapp/js/bootstrap.js' %}"></script>
</body>
</html> 